.header {
    grid-area: header;
    background-color: royalblue;
    display: flex;
}

.header img {
    width: 3em;
}

.headerTitle {
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.headerTitle span {
    font-size: 1.5em;
    color: white;
}