.appProfile {
    grid-area: appProfile;
    background-color: darksalmon;
}

.backgroundPhoto {
    height: 300px;
}

.avatar {
    height: 200px;
    width: 200px;
}

.posts {

}

.item {
    color: blueviolet;
}